<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JWT Reference App</title>
</head>

<body>
  @{
      ViewBag.Title = "JWTs in ASP.NET Core MVC 5";
  }

  <p>You're logged in as:&nbsp;@User.Identity.Name</p>
  <p>@ViewBag.Message</p>
</body>
</html>
